@use 'sass:math' as math;

p{
    margin: 0;
}

*{
    box-sizing: border-box;
}

body{
    background-color: #192A32;
}

main{
    width: 350px;
    margin: auto;
    margin-top: 5vh;
    position: relative;

    header{
        padding: 0 5px;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-between;

        .xo{
            #x, #o{
                width: 25px;
            } 
        }

        #currentTurn{
            background-color: #1F3540;
            height: 90%;
            border-radius: 7px;
            box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);

            p{
                padding: 5px;
                color:#A7BFC9 ;

                &:hover{
                    cursor: default;
                }
            }
        }

        #reset-btn-container button{
            background-color: #A7BFC9;
            border: 0;
            height: 90%;
            width: 60px;
            transition: transform 0.1s ease;
            box-shadow: 0px 5px 5px 0px rgba(50, 49, 49, 0.75);;

            &:hover{
                cursor: pointer;
            }

            &:active{
                transform: scale(0.95);
            }
        }
    }

    .hidden-card{
        position: absolute;
        height: 200px;
        width: 250px;
        background-color: aqua;
        opacity: 0.8;
        top: 25%;
        left: 15%;
        display: none;

        #winner-info{
            word-wrap: normal;
            width: max-content;
            margin-top: 75px;
            margin-left: 75px;
            margin-bottom: 50px;
        }
        #close {
            width: 70px;
            margin-left: 90px;
        }
        
    }

    .playing-area{
        display: grid;
        gap: 10px;
        grid-template-columns: 110px 110px 110px;
        grid-template-rows: 110px 110px 110px;

        .playing-boxes{
            cursor: pointer;
            background-color: #1F3540;
            box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);

            //this part is not in use now, it will be applied to any X or O after they are played in the game to
            //to control its size
            .played-img{
                width: 100px;
                height: 100px;
                overflow: hidden;
                margin:5px 5px;
            }
        }
    }

    footer{
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        text-align: center;
        padding-top: 5px;
        flex-wrap: wrap;

        @mixin footer-containers ($backgroundColor) {
            padding: 5px 10px;
            border-radius: 7px;
            background-color: $backgroundColor;
        }

        .player1-info-container{
            @include footer-containers(#31C4BE)
        }
        .ties-info-container{
            @include footer-containers(#A8BEC9)
        }
        .player2-info-container{
            @include footer-containers(#F2B237)
        }
    }
}



@media(min-width:560px){
    main{
        //height: $main-container-height-pc;
        width: 440px;
        margin-top: 8vh;

        .hidden-card{
            height: 250px;
            width: 300px;

            #winner-info{
                width: 100px;
                margin: 100px;
            }
            #close {
                width: 70px;
                margin-left: 115px;
            }
        }

        .playing-area{
            grid-template-columns: 140px 140px 140px;
            grid-template-rows: 140px 140px 140px;

            //this part is not in use now, it will be applied to any X or O after they are played in the game to
            //to control its size
            .playing-boxes .played-img {
                height: 130px;
                width: 130px;
            }
        }
    }
    
}